
  <h4>Modificar Vencimiento</h4>
<%= link_to 'Mostrar', @vencimiento,class:"btn btn-warning" %> <%= link_to 'Regresar', vencimientos_path,class:"btn btn-info" %>
<hr class="division">
<%= render 'form', vencimiento: @vencimiento %>

