  <h4>Modificar Equipo</h4>
<%= link_to 'Mostrar', @equipo,class:"btn btn-warning" %> <%= link_to 'Regresar', equipos_path,class:"btn btn-info" %>
<hr class="division">
<%= render 'form', equipo: @equipo %>

