<h4>Modificar Usuario</h4>
<%= link_to 'Mostrar', @usuario,class:"btn btn-warning" %> <%= link_to 'Regresar', usuarios_path,class:"btn btn-info" %>
<hr class="division">
<%= render 'form', usuario: @usuario %>

