<h4>Modificar Seguridad</h4>
<hr class="division">
<%= render 'form', rol_opcion_operacione: @rol_opcion_operacione %>

<%= link_to 'Mostrar', @rol_opcion_operacione %> |
<%= link_to 'Regresar', rol_opcion_operaciones_path %>
